/* app/globals.css */
@import "tailwindcss";

/* v4 syntax for loading the typography plugin */
@plugin "@tailwindcss/typography";

@layer base {
    body {
        @apply transition-colors duration-300 ease-in-out;
    }
}

/* Optional: Custom scrollbar for a premium feel */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-gray-700 rounded-full border-4 border-white dark:border-black;
}